.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
  .navbar__link__login{
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    color: black;
    
  }
  .navbar__link__login__sign{
    margin-right: 0.5rem;
    padding-left: 10px;
    
  }
  .navbar__link__login:hover{
    text-decoration: underline;
  }